*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 1px solid black;
}
html {
	background-color: rgb(200, 200, 200);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 62.5%;
	/* FONTSIZE TRICK-- 1 rem = 10 px here, usually 1 rem = 16px */
	min-height: 100vh;
	max-height: 100vh;
	caret-color: transparent;
}
body {
	font-size: 2rem;
	/* font-size: calc(1.5rem + 0.4vw); */
	/* FONTSIZE TRICK-- 1 rem = 10 px here, usually 1 rem = 16px */
	/* FONTSIZE - Adding the 0.4 is for responsivity */
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
	color:initial;
}
.btnShadow {
	cursor:pointer;
	box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(50, 50, 50, 1);
	transition: box-shadow 0.1s;
}
.btnShadow:hover {
	box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(50, 50, 50, 0.5);
}
.btnShadow:active {
	transform: translate3d(0.5px, 1px, 0);
}
/* ---------------------------------------------------- */
/*--Modal Dialog--*/
dialog {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%) scale(0);
  }
dialog::backdrop {
   background: rgba(0, 0, 0, 0.5);
  }
dialog[open] {
   animation: show 0.4s ease normal forwards; /* added forwards value!! */
  }
/*@keyframes show {
   from {
   transform: translate(-50%, -50%) scale(0);
   opacity: 0;
   }
   to {
   transform: translate(-50%, -50%) scale(1);
   opacity: 1;
   }*/